body {
    max-width: 600px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color: black;
}

p {
    line-height: 1.6rem;
}

article + article {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid lightgray;
}